/*
-----------------------------------------
TABLE OF CONTENTS

(The number set before the description is to help find the section using your programs 'find' function)

V01 - Includes - Incusion of CSS/LESS files
V02 - Background Highlights
V03 - Head Tags (HTML & BODY)
V04 - Containers
V05 - Main Layout
V06 - Headers
V07 - Basics
V08 - Secondary Basics
V09 - Branding
V10 - Navigation
V11 - Modules
V12 - Footer
V13 - Tables
V14 - Forms
V15 - Generics
V16 - Mobile Adjustments
V17 - Media Queries
-----------------------------------------
*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark

Added reset by Christopher Bishop
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
/* Tell the browser to render HTML 5 elements as block */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
ol,
ul {
  list-style: none;
}
a:focus {
  outline: none;
  /* Removes dotted outline caused by FireFox */
}
img {
  border: none;
  /* Removes purple border caused by FireFox */
}
/* Clear Div (not suggested) */
.clear {
  clear: both;
}
/* Clear Fix */
.clear-fix {
  *zoom: 1;
}
.clear-fix:before,
.clear-fix:after {
  display: table;
  content: "";
}
.clear-fix:after {
  clear: both;
}
.image-replace {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#RubberBandjs {
  background: #90857b;
  box-shadow: inset 0px -10px 25px -5px rgba(0, 0, 0, 0.3);
  height: 80px;
  position: absolute;
  top: -80px;
  width: 100%;
}
.rband {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 30px 0 0 0;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.rband .text {
  display: inline-block;
  font-weight: 200;
  margin: 0;
  padding: 0;
}
.rband img {
  height: 16px;
  margin-right: 20px;
  position: relative;
  top: 3px;
  width: 16px;
}
.rband .load {
  display: none;
}
/*
-----------------------------------------
V02 - Background Highlights
-----------------------------------------
*/
::-moz-selection {
  background: #a9ddd9;
  color: #ffffff;
}
::selection {
  background: #a9ddd9;
  color: #ffffff;
}
/*
-----------------------------------------
V03 - HEAD TAGS
-----------------------------------------
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
HTML {
  /* Prevents webpage zooming for mobile devices change orientation */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #90857b;
}
BODY {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #90857b;
  font-size: 13px;
}
/*
-----------------------------------------
V04 - CONTAINERS
-----------------------------------------
*/
.container {
  max-width: 320px;
  margin: 35px auto 0;
}
.content {
  background: #90857b;
  padding: 0 35px;
}
/*
-----------------------------------------
V05 - MAIN LAYOUT
-----------------------------------------
*/
.block-content {
  margin-bottom: 20px;
}
/*
-----------------------------------------
V06 - HEADERS
-----------------------------------------
*/
h1 {
  color: #e2efda;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  font-size: 18px;
  color: #e2efda;
  margin-bottom: 10px;
}
/*
-----------------------------------------
V07 - BASICS
-----------------------------------------
*/
a {
  color: #e2efda;
}
a:hover {
  color: #fefefe;
  text-decoration: none;
}
p {
  font-size: 14px;
  line-height: 1.4em;
  color: #e2efda;
  margin-bottom: 1.2em;
}
/*
-----------------------------------------
V08 - SECONDARY BASICS
-----------------------------------------
*/
.button {
  background: #e2efda;
  border: none;
  border-bottom: 5px solid #aece9b;
  border-radius: 10px;
  padding: 20px 10px;
  display: inline-block;
  text-align: center;
  color: #90857b;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-bottom: 15px;
}
.button:hover {
  color: #9c9289;
}
.button.button-block {
  width: 100%;
}
/*
-----------------------------------------
V09 - BRANDING
-----------------------------------------
*/
.site-masthead {
  position: fixed;
  top: 0;
  width: 100%;
}
.color-block {
  float: left;
  width: 12.5%;
  height: 20px;
}
.color-block.pink {
  background: #facadd;
}
.color-block.blue {
  background: #a9ddd9;
}
.color-block.green {
  background: #c7e2b9;
}
/*
-----------------------------------------
V10 - NAVIGATION
Please use the nav element in HTML5
-----------------------------------------
*/
.control-back {
  background: #9c9289;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.control-back a {
  font-size: 17px;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/*
-----------------------------------------
V11 - MODULES
-----------------------------------------
*/
.last-feeding {
  position: relative;
  margin-bottom: 30px;
}
.last-feeding .last-feeding-background {
  max-width: 100%;
}
.last-feeding-info {
  position: absolute;
  left: 36%;
  top: 60px;
  width: 130px;
}
.last-feeding-info span {
  color: #90857b;
  font-weight: bold;
  display: block;
}
.last-feeding-info .time {
  font-size: 36px;
  margin-bottom: 10px;
}
.last-feeding-info .time span {
  font-size: 20px;
  display: inline-block;
  margin-left: 5px;
}
.last-feeding-info .date {
  font-size: 16px;
  color: #a5a093;
  margin-bottom: 20px;
}
.last-feeding-info .amount {
  font-size: 40px;
}
.history {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.history a {
  text-decoration: none;
  *zoom: 1;
}
.history a:before,
.history a:after {
  display: table;
  content: "";
}
.history a:after {
  clear: both;
}
.history img {
  width: 30px;
  vertical-align: middle;
  margin-right: 5px;
}
.history {
  margin-bottom: 30px;
}
.history ul {
  background: #e2efda;
  border-radius: 10px;
  padding: 10px;
}
.history ul li {
  border-bottom: 2px solid #90857b;
}
.history ul li a {
  padding: 15px 0;
  display: block;
}
.history ul li:last-child {
  border: none;
}
.history .time,
.history .amount {
  color: #90857b;
  font-weight: bold;
  font-size: 23px;
}
.history .time {
  float: left;
}
.history .amount {
  float: right;
}
/*
-----------------------------------------
V12 - FOOTER
-----------------------------------------
*/
/*
-----------------------------------------
V13 - TABLES
-----------------------------------------
*/
.cell5 {
  width: 5%;
}
.cell10 {
  width: 10%;
}
.cell15 {
  width: 15%;
}
.cell20 {
  width: 20%;
}
.cell25 {
  width: 25%;
}
.cell30 {
  width: 30%;
}
.cell35 {
  width: 35%;
}
.cell40 {
  width: 40%;
}
.cell45 {
  width: 45%;
}
.cell50 {
  width: 50%;
}
.cell55 {
  width: 55%;
}
.cell60 {
  width: 60%;
}
.cell65 {
  width: 65%;
}
.cell70 {
  width: 70%;
}
.cell75 {
  width: 75%;
}
.cell80 {
  width: 80%;
}
.cell85 {
  width: 85%;
}
.cell90 {
  width: 90%;
}
.cell95 {
  width: 95%;
}
/*
-----------------------------------------
V14 - FORMS
-----------------------------------------
*/
form {
  margin: 10px 0;
}
form ul {
  margin-bottom: 40px;
}
form li {
  *zoom: 1;
  margin-bottom: 20px;
}
form li:before,
form li:after {
  display: table;
  content: "";
}
form li:after {
  clear: both;
}
label {
  text-align: right;
  color: #e2efda;
  width: 25%;
  float: left;
  font-size: 19px;
  margin-top: 17px;
}
input {
  width: 70%;
  float: right;
  border: none;
  border-bottom: 2px solid #a9ddd9;
  padding: 5px;
  color: #e2efda;
  font-size: 25px;
  background: #90857b;
  text-align: right;
  -webkit-appearance: none;
}
input[type=number]::webkit-inner-spin-button,
input[type=number]::webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
::-webkit-input-placeholder {
  color: #e2efda;
}
::-moz-placeholder {
  color: #e2efda;
}
:-ms-input-placeholder {
  color: #e2efda;
}
input:-moz-placeholder {
  color: #e2efda;
}
/*
-----------------------------------------
V15 - GENERICS
-----------------------------------------
*/
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
/*
-----------------------------------------
V16 - MOBILE ADJUSTMENTS
-----------------------------------------
*/
a:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}
/*
-----------------------------------------
V17 - Responsive Web Design Queries
-----------------------------------------
*/
