/*
-----------------------------------------
TABLE OF CONTENTS

(The number set before the description is to help find the section using your programs 'find' function)

V01 - Includes - Incusion of CSS/LESS files
V02 - Background Highlights
V03 - Head Tags (HTML & BODY)
V04 - Containers
V05 - Main Layout
V06 - Headers
V07 - Basics
V08 - Secondary Basics
V09 - Branding
V10 - Navigation
V11 - Modules
V12 - Footer
V13 - Tables
V14 - Forms
V15 - Generics
V16 - Mobile Adjustments
V17 - Media Queries
-----------------------------------------
*/

// V01 - Includes

@import "includes/normalize.less";
@import "includes/variables.less";
@import "includes/mixins.less";
@import "includes/rubberband.less";



/*
-----------------------------------------
V02 - Background Highlights
-----------------------------------------
*/

::-moz-selection{
  background: @select-background;
  color: @select-text;
}
::selection {
  background: @select-background;
  color: @select-text;
}



/*
-----------------------------------------
V03 - HEAD TAGS
-----------------------------------------
*/

* {
  .box-sizing();
}

HTML {
  /* Prevents webpage zooming for mobile devices change orientation */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: @base-color;
}

BODY {
  font-family: @font-sans;
  background: @base-color;
  font-size: @font-size;
}



/*
-----------------------------------------
V04 - CONTAINERS
-----------------------------------------
*/


.container {
  max-width: @site-width;
  margin: 35px auto 0;
}

.content {
  background: @content-background;
  padding: 0 35px;
}




/*
-----------------------------------------
V05 - MAIN LAYOUT
-----------------------------------------
*/

.block-content {
  margin-bottom: 20px;
}





/*
-----------------------------------------
V06 - HEADERS
-----------------------------------------
*/


h1 {
  color: @green-lighter;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 18px;
  color: @green-lighter;
  margin-bottom: 10px;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}


/*
-----------------------------------------
V07 - BASICS
-----------------------------------------
*/


a {
  color: @link-color;

  &:hover {
    color: @link-hover-light;
    text-decoration: none;
  }
}

p {
  font-size: 14px;
  line-height: 1.4em;
  color: @text-color;
  margin-bottom: 1.2em;
}


/*
-----------------------------------------
V08 - SECONDARY BASICS
-----------------------------------------
*/

blockquote {

}

hr {

}

.button {
  background: @green-lighter;
  border: none;
  border-bottom: 5px solid @green;
  border-radius: 10px;
  padding: 20px 10px;
  display: inline-block;
  text-align: center;
  color: @brown;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  .transition();
  margin-bottom: 15px;

  &:hover {
    color: lighten(@brown, 5%);
  }

  &.button-block {
    width: 100%;
  }
}


/*
-----------------------------------------
V09 - BRANDING
-----------------------------------------
*/


.site-masthead {
  position: fixed;
  top: 0;
  width: 100%;
}

.site-logo a {

}

.color-block {
  float: left;
  width: 12.5%;
  height: 20px;

  &.pink {
    background: @pink;
  }

  &.blue {
    background: @blue;
  }

  &.green {
    background: @green-light;
  }
}



/*
-----------------------------------------
V10 - NAVIGATION
Please use the nav element in HTML5
-----------------------------------------
*/


.control-back {
  background: lighten(@brown, 5%);
  padding: 10px;
  border-radius: 10px;
  text-align: center;

  a {
    font-size: 17px;
    text-decoration: none;
    display: block;
    .transition();
  }
}


/*
-----------------------------------------
V11 - MODULES
-----------------------------------------
*/


.last-feeding {
  position: relative;
  margin-bottom: 30px;

  .last-feeding-background {
    max-width: 100%;
  }
}

.last-feeding-info {
  position: absolute;
  left: 36%;
  top: 60px;
  width: 130px;

  span {
    color: @brown;
    font-weight: bold;
    display: block;
  }

  .time {
    font-size: 36px;
    margin-bottom: 10px;

    span {
      font-size: 20px;
      display: inline-block;
      margin-left: 5px;
    }
  }

  .date {
    font-size: 16px;
    color: @brown-light;
    margin-bottom: 20px;
  }

  .amount {
    font-size: 40px;
  }
}

.history {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;

  a {
    text-decoration: none;
    .clear-fix();
  }

  img {
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
  }
}


.history {
  margin-bottom: 30px;

  ul {
    background: @green-lighter;
    border-radius: 10px;
    padding: 10px;

    li {
      border-bottom: 2px solid @brown;

      a {
        padding: 15px 0;
        display: block;
      }

      &:last-child {
        border: none;
      }
    }
  }

  .time, .amount {
    color: @brown;
    font-weight: bold;
    font-size: 23px;
  }

  .time {
    float: left;
  }

  .amount {
    float: right;
  }
}

/*
-----------------------------------------
V12 - FOOTER
-----------------------------------------
*/


.site-footer {

}




/*
-----------------------------------------
V13 - TABLES
-----------------------------------------
*/


table {

}

thead {

}

tfoot {

}

tbody {

}

tr {

}

th {

}

td {

}

.cell5  {width:5%;}
.cell10 {width:10%;}
.cell15 {width:15%;}
.cell20 {width:20%;}
.cell25 {width:25%;}
.cell30 {width:30%;}
.cell35 {width:35%;}
.cell40 {width:40%;}
.cell45 {width:45%;}
.cell50 {width:50%;}
.cell55 {width:55%;}
.cell60 {width:60%;}
.cell65 {width:65%;}
.cell70 {width:70%;}
.cell75 {width:75%;}
.cell80 {width:80%;}
.cell85 {width:85%;}
.cell90 {width:90%;}
.cell95 {width:95%;}


/*
-----------------------------------------
V14 - FORMS
-----------------------------------------
*/

form {
  margin: 10px 0;

  ul {
    margin-bottom: 40px;
  }

  li {
    .clear-fix();
    margin-bottom: 20px;
  }
}

label {
  text-align: right;
  color: @green-lighter;
  width: 25%;
  float: left;
  font-size: 19px;
  margin-top: 17px;
}

input {
  width: 70%;
  float: right;
  border: none;
  border-bottom: 2px solid @blue;
  padding: 5px;
  color: @green-lighter;
  font-size: 25px;
  background: @brown;
  text-align: right;
  -webkit-appearance: none;
}

textarea {

}

select {

  option {

  }
}

input[type="submit"] {

}

input[type=number]::webkit-inner-spin-button,
input[type=number]::webkit-outer-spin-button, {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-input-placeholder { color: @placeholder-color; }
::-moz-placeholder { color: @placeholder-color; }
:-ms-input-placeholder { color: @placeholder-color; }
input:-moz-placeholder { color: @placeholder-color; }


/*
-----------------------------------------
V15 - GENERICS
-----------------------------------------
*/


.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}



/*
-----------------------------------------
V16 - MOBILE ADJUSTMENTS
-----------------------------------------
*/

a:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, .2);
}



/*
-----------------------------------------
V17 - Responsive Web Design Queries
-----------------------------------------
*/