// Max Site Width
@site-width: 320px;

// Colors

@brown: #90857B;
@brown-light: #a5a093;
@green: #AECE9B;
@green-light: #C7E2B9;
@green-lighter: #E2EFDA;
@blue: #A9DDD9;
@pink: #FACADD;

// Site Background Color
@base-color: @brown;

// Content Background Color
@content-background: @brown;

// Text Color
@text-color: @green-lighter;

// Link Colors
@link-color: @green-lighter;
@link-hover-light: lighten(@link-color, 10%);
@link-hover-dark: darken(@link-color, 10%);

// Input Placeholder Color
@placeholder-color: @text-color;

// Fonts
@font-sans: Helvetica Neue, Helvetica, Arial, sans-serif;
@font-serif: Georgia, Times, "Times New Roman", serif;
@font-script: 'Great Vibes', cursive;
@font-mono: "Andale Mono", AndaleMono, monospace;

// Font Size
@font-size: 13px;
@font-size-small: (@font-size - 2);
@font-size-large: (@font-size + 2 );

// User Select (colors when a user selects objects on screen)
@select-background: @blue;
@select-text: #fff;